<div class="about">
    <div class="title">
        <h3>Sobre mim</h3>
    </div>
    <div class="container">
        <div class="photo">
            <img src="../../../assets/foto.jpeg" alt="Foto perfil">
        </div>
        <div class="text">
            <p>
                Apaixonado por tecnologia e extremamente curioso para saber como as coisas funcionam, 
                desde de pequeno sempre tive e tenho o sonho de poder ajudar a sociedade de alguma maneira,
                foi a partir desse pensamento que fui para o curso de Engenharia Mecatrônica na UFRN. 
                Durante o curso pude desenvolver muitas habilidades, principalmente, lógica e programação,
                o que me renderam um estagio na centro de lançamento Barreira do Inferno, 
                trabalhando em projetos envolvendo controle de sistemas embarcados e programação C/ C++.
                No decorrer da graduação acabei entrando em uma empresa júnior intitulada Include Engenharia e
                hoje posso dizer que foi a melhor escolha que fi. Porque, lá pude desenvolver habilidades tanto tecnicas quanto comportamentais como:
                oratória, negociação e liderança. 
                Na empresa fiz parte da diretoria de marketing, tendo a oportinidade aprender conceitos de design utilizando o Photoshop e 
                graças a um dos serviços da Include, descobri o mundo do desenvolvimento mobile e Web, desde então tenho feito cursos na Udemy,
                Rocketseat e Gama Academy de desenvolvimento Web, aprendendo bastante sobre: Javascript, Typescript, CSS, HTML5, Angular, React, NodeJs, Python...
                <br>
                Atualmente trabalho na TOTVS RN, com desenvolvimento no framework FLUIG.
                <!-- Como todo desenvolvedor/ engenheiro sou apaixonado por tecnologia. Por ter essa paixão estou sempre me desenvolvendo,
                estudando novas tecnologias para tornar meu trabalho cada vez mais ágil e produtivo. Já liderei equipes e sou focado
                em atingir e superar metas e desafios propostos. Dedicado e esforçado, com determinação em entregar excelência. Com
                experiência em treinamentos, Engenharia
                mecatrônica e desenvolvimento Web. -->
            </p>
            <div class="tecnologias">
                <h3>Tecnologias:</h3>
                <img src="../../../assets/HTML.svg" alt="HTML5">
                <img src="../../../assets/CSS.svg" alt="CSS">
                <img src="../../../assets/Javascript.svg" alt="Javascript">
                <img src="../../../assets/Typescript.svg" alt="Typescript">
                <img src="../../../assets/Angular.svg" alt="Angular">
                <img src="../../../assets/React.svg" alt="React">
                <img src="../../../assets/Python.svg" alt="Python">
                <img src="../../../assets/Node.svg" alt="NodeJS">
        
            </div>
        </div>
    </div>
</div>