<div class="main">
    <div class="photo">
        <!-- <img src="../../../assets/foto.jpeg" alt="Foto perfil"> -->
    </div>
    <div class="description">
        <h3>Olá!</h3>
        <h1>Sou Thomas Alves</h1>
        <h4>Frontend Develop</h4>
        <div class="social">
            <a href="https://www.linkedin.com/in/thomasalves11/"><img src="https://image.flaticon.com/icons/png/512/733/733617.png" alt="Linkedin"></a>
            <a href="https://github.com/thomasalves"><img src="https://image.flaticon.com/icons/png/512/733/733609.png" alt="Github"></a>
        </div>
    </div>
</div>
