<div class="main">
    <div class="photo">
        <!-- <img src="../../../assets/foto.jpeg" alt="Foto perfil"> -->
    </div>
    <div class="description">
        <h3>Olá!</h3>
        <h1>Sou Thomas Alves</h1>
        <h4>Frontend Develop</h4>
        <div class="social">
            <a href="https://www.linkedin.com/in/thomasalves11/"><img src="../../../assets/icons8-linkedin.svg" alt="Linkedin"></a>
            <a href="https://github.com/thomasalves"><img src="../../../assets/GitHub-Mark-32px.png" alt="Github"></a>
        </div>
    </div>
</div>
